// borders
$border-radius-default: .5rem;

// colors
$color-black: #1a1a1a;
$color-blue: #00ccff;
$color-green: #99ff33;
$color-pink: #ff0066;
$color-purple: #673ab7;
$color-white: #f2f2f2;

// transitions
$transition-2: all .2s;
$transition-3: all .3s;
