.content {
  align-items: center;
  border-radius: $border-radius-default;
  // background-color: $color-white;
  color: $color-black;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__body {
    align-items: center;
    background-color: $color-white;
    border-radius: $border-radius-default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    width: 100%;
  }
  
  &__title {
    background-color: $color-black;
    // border-top-left-radius: $border-radius-default;
    // border-top-right-radius: $border-radius-default;
    text-align: center;
    transition: all .1s;
    width: 100%;

    span {
      transition: $transition-3, font-size 0s;
    }
  }
}
